
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-5 text-warning">Quienes somos</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a href="#" class="text-warning">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Quienes somos</p>
      </div>
  </div>
</div>
<!-- Page Header End -->


    <!-- About Section Begin -->
    <section class="about spad">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 mt-3">
                  <div class="card m-2">
                    <img src="../../../assets/img/bootcamp4.jpg" class="card-img-top" height="400" alt="Product">
                  </div>
              </div>
              <div class="col-lg-8 col-md-4 col-sm-6">
                <div class="about__item mt-2 mt-2">
                    <h4 class="text-warning font-weight-semi-bold">Quiénes somos?</h4>
                    <br>
                    <p> Somos alumnos del bootcamp Frontend Angular.</p>
                    <p>Gracias a GeeksHubs Academy y Urbalab Gandia, encontramos una oportunidad única de crear programas intensivos en desarrollo.</p>
                    <br><br><br>
                    <h3 class="text-warning font-weight-semi-bold">No necesitas ningún conocimiento en programación. Solo motivación y trabajo duro.</h3>
                </div>
            </div>
              <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 mt-3">
                <div class="card m-2">
                  <img src="../../../assets/img/bootcamp2.jpg" class="card-img-top" height="400" alt="Product">
                </div>
              </div>
              <div class="col-lg-8 col-md-4 col-sm-6">
                <div class="about__item mt-2">
                    <p>A sabiendas de que la dificultad y los requisitos de nuestros Bootcamps son altos y no son para todos los públicos, hemos sido capaces de diseñar una pagina web e-commerce.</p>
                    <p>La clave del éxito del Bootcamp de GeeksHubs Academy (Urbalab Gandia) reside en que, al finalizar, estaremos preparados para desarrollar una solución completa de software por nosotros mismos.</p>
                    <p>Puedes revisar nuestros proyectos, para verlos con más detalle, pincha en el enlace de GitHub.</p>
                    <p><a href="https://github.com/adria-vidal" class="text-muted text-decoration-none"><i class="bi bi-github">Adrià Vidal</i></a></p>
                    <p><a href="https://github.com/carlesnacher" class="text-muted text-decoration-none"><i class="bi bi-github">Carles Nacher</i></a></p>
                </div>
            </div>
          </div>
      </div>
  </section>
  <!-- About Section End -->
<app-footer></app-footer>


