@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  padding: 1rem;
}
.margin{
  margin-top: 8%;
}
h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.card_image {
  height: 250px;
}

img {
  height: 100%;
  vertical-align: middle;

}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  width: 100%;
  display: block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #eea942 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
