<app-navbar></app-navbar>
<div class="container">
  <div class="row margin py-5 g-5">
    <div class="col-12 col-lg-6">
      <img src="{{articulos.images}}" class="m1 w-100 sliderMainImage" data-bs-toggle="modal"
        data-bs-target="#imageModal" alt="">
      <div>
        <img src="{{articulos.images[1]}}" width="300" class="m1 sliderThumb">
        <img src="{{articulos.images[2]}}" width="300" class="m1 sliderThumb">
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h2 id="productName">
        {{articulos}}
      </h2>
      <small class="text-muted">
        Identificador: {{articulos.id}}
      </small>
      <h4 class="my-4">
        <span id="price">{{articulos.price}} EUR</span>
      </h4>
      <label for="selectSize" class="text-muted">
        Size
      </label>
      <select name="selectSize" id="size" class="form-select">
        <option selected>S</option>
        <option value="1">M</option>
        <option value="2">L</option>
        <option value="3">XL</option>
      </select>
      <div class="d-grid my-4">
        <button class="btn btn-lg btn-dark" type="button" id="bagBtn">
          Añade a la Cesta
        </button>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>Descripción</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse-show" aria-labelledby="headingOne">
            <div class="accordion-body">
              {{articulos.description}}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <strong>Disponible en Tienda</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse-show" aria-labelledby="headingTwo">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, beatae. Lorem ipsum dolor sit amet.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, tempora!
                <br />
                <br />
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque voluptate rem porro modi dicta
                temporibus natus dolor laborum qui!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>


